numpy>=1.26.4
matplotlib>=3.8.4
gradio>=5.5.0
pandas>=2.2.1
scikit-learn>=1.4.1
torch>=2.2.0
librosa>=0.10.1
soundfile>=0.12.1
Pillow>=10.2.0
transformers>=4.38.0
-i https://pypi.tuna.tsinghua.edu.cn/simple
